html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ----------------------------------------------------------- */

div {
  text-align: center;
}
body {
  background-image: linear-gradient(to bottom, rgb(148, 218, 253), rgb(124, 203, 255), rgb(124, 184, 255), rgb(148, 161, 255), rgb(185, 131, 255));
}

font {
    font-family: 'Rosemary';
    font-style: normal;
    font-weight: normal;
    src: local('Rosemary'), url('Rosemary.woff') format('woff');
    }
/* this doesn't work but i don't know how to fix it */
